syntax: glob
*.ncb
*.suo
*.bak
*~
*/\#*\#
*.orig
*.rej
*.aps
*.d
*.ko
*.o
*.pyc
*.old
*.user
*.mod.c
.*.cmd
.tmp_versions
BuildLog.htm
cscope.*
Module.*
modules.*
tags
TAGS
GPATH
GRTAGS
GTAGS

# Domain-specific files

block-ts/doxygen.warn
block-ts/doc/
build/
html/
Makefile.in
aclocal.m4
autom4te.cache
auxdir
configure
nvmeof-ts/package.h.in
config.h.in
tmp_raw_log
builder.log.*.1
builder.log.*.2
log.txt
log_plain.xml
log_struct.xml
ta.Agt_*
ta.list
trc-report.html
objects
instances
.reviewboardrc
.idea
CMakeLists.txt
cmake-build-*
trc-brief.html
core
build.log
te_tmp
.vscode
block-ts/doc/html
doxygen.warn
.clangd/
scripts/.mypy_cache
